/* setting up colors & padding */

header {
  background-color: aquamarine;
  padding: 50px;
  box-sizing: border-box;
}

article {
  background-color: lightsalmon;
  padding: 50px;
  box-sizing: border-box;
}

aside {
  background-color: lightskyblue;
  padding: 50px;
  box-sizing: border-box;
}

footer {
  background-color: lightgoldenrodyellow;
  padding: 50px;
  box-sizing: border-box;
}

/* HERE COMES SOME FLEXBOX */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  flex: 0 150px;

}

main {
  flex-grow: 1;
  display: flex;
}

article {
  flex-grow: 2;
  order: 2;
}

aside {
  flex: 0 300px;
}

.left {
  order: 1;
}

.right {
  order: 3;
}

@media screen and (max-width: 1025px) {
  main {
    flex-direction: column;
  }

  article {
    order: 0;
  }

  aside {
    flex: 0;
  }
}