/* setting up colors & padding */

header {
  background-color: aquamarine;
  padding: 50px;
  box-sizing: border-box;
}

article {
  background-color: lightsalmon;
  padding: 50px;
  box-sizing: border-box;
}

aside {
  background-color: lightskyblue;
  padding: 50px;
  box-sizing: border-box;
}

footer {
  background-color: lightgoldenrodyellow;
  padding: 50px;
  box-sizing: border-box;
}

/* HERE COMES SOME FLEXBOX */

